{extend name="base" /}

{block name="custom_css"}
<link rel="stylesheet" href="/static/markdown/markdown.css">
<script type="text/javascript" src="/static/markdown/marked.min.js"></script>
{/block}

{block name="content"}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>修改文章</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{:url('Index/index')}">首页</a></li>
                            <li><a href="###">文章管理</a></li>
                            <li><a href="{:url('Cms/article')}">文章列表</a></li>
                            <li class="active">修改文章</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body card-block">
                        <div class="form-group">
                            <label for="title" class=" form-control-label">标题</label>
                            <input type="text" id="title" value="{$detail.title}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="author" class=" form-control-label">作者</label>
                            <input type="text" id="author" value="{$detail.author}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="keyword" class=" form-control-label">关键词</label>
                            <input type="text" id="keyword" value="{$detail.keyword}" class="form-control">
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-9"><label for="select" class=" form-control-label">所属模块</label></div>
                            <div class="col-12 col-md-12">
                                <select name="category_id" id="category_id" class="form-control">
                                    <option value="0">请选择所属模块</option>
                                    {volist name="category" id="vo"}
                                    <option value="{$vo.category_id}" {if condition="$vo.category_id == $detail.category_id"}selected="selected"{/if}>{$vo.category_name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-12"><label class=" form-control-label">标签</label></div>
                            <div class="col col-md-12">
                                <div class="form-check">
                                    <div class="checkbox">
                                    {volist name="tag" id="a"}
                                        <label for="checkbox1" class="form-check-label" style="margin-right:20px;">
                                            <input type="checkbox" id="checkbox1" name="tag_id" value="{$a.tag_id}" class="form-check-input"{if condition="$a.has_tag == 1"}checked{/if}>{$a.tag_name}
                                        </label>
                                    {/volist}
                                </div>
                                </div>
                            </div>
                        </div> 
                        <div class="row form-group">
                            <div class="col col-md-8"><label for="image" class=" form-control-label">图片</label></div>
                            <div class="col-12 col-md-9"><input type="file" id="image" name="image" class="form-control-file"></div>
                        </div>
                        {if condition="$detail.image != ''"}
                        <img id="show_image" src="{$detail.image}" width="80px"/>
                        {/if}
                        <div class="row form-group">
                            <div class="col col-md-8"><label for="intro" class=" form-control-label">简介</label></div>
                            <div class="col-12 col-md-9"><textarea name="intro" id="intro" rows="3" placeholder="intro..." class="form-control">{$detail.keyword}</textarea></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-9"><label for="content_type" class=" form-control-label">内容样式</label></div>
                            <div class="col-12 col-md-12">
                                <select name="content_type" id="content_type" class="form-control">
                                    <option value="markdown" {if condition="$detail.content_type == 'markdown'"}selected{/if}>markdown</option>
                                    <option value="html"{if condition="$detail.content_type == 'html'"}selected{/if}>html</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group" id="markdown_write" {if condition="$detail.content_type == 'html'"}style="display: None;"{/if}>
                            <div class="col col-md-8"><label for="write" class=" form-control-label">内容</label></div>
                            <div class="col-12 col-md-12">       
                                <textarea name="textarea-input" id="write" rows="18"class="form-control">{if condition="$detail.content_type == 'markdown'"}{$detail.content}{/if}</textarea>
                            </div>
                        </div>
                        <div class="row form-group" id="markdown_show" {if condition="$detail.content_type == 'html'"}style="display: None;"{/if}>
                            <div class="col col-md-8"><label for="show" class=" form-control-label">展示</label></div>
                            <div class="col-12 col-md-12 markdown-body" id="show" style="height:690px; overflow:auto; border: 1px solid #ced4da; border-radius: .25rem;">
                                
                            </div>
                        </div>
                        <div class="row form-group" id="html" {if condition="$detail.content_type == 'markdown'"}style="display: None;"{/if}>
                            <div class="col col-md-8"><label for="content" class=" form-control-label">内容</label></div>
                            <div class="col-12 col-md-12" id="content">
                                {if condition="$detail.content_type == 'html'"}
                                    {$detail.content}
                                {/if}
                            </div>
                        </div>
                        <input type="hidden" id="article_id" value="{$detail.article_id}"/>
                        <div>
                            <button id="submit" type="button" class="btn btn-lg btn-info btn-block">
                                <i class="fa fa-arrow-up fa-lg"></i>&nbsp;
                                <span id="payment-button-amount">提交</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>
{/block}

{block name="custom_js"}
<script type="text/javascript" src="/static/wangEditor/wangEditor.min.js"></script>
    <script>
        var E = window.wangEditor
        var editor = new E('#content')
        editor.create()

        var markdown_write = $("#write").val();
        console.log(markdown_write)
        if(markdown_write != ''){
            $("#show").html(marked(markdown_write));
        }

        $("#content_type").change(function(){
            var content_type = $("#content_type").val();
            if(content_type == 'markdown'){
                $("#markdown_write").attr('style', '');
                $("#markdown_show").attr('style', '');
                $("#html").attr('style', 'display: None;');
            }
            if(content_type == 'html'){
                $("#markdown_write").attr('style', 'display: None;');
                $("#markdown_show").attr('style', 'display: None;');
                $("#html").attr('style', '');
            }
        })

        $('#write').bind('input propertychange', function() {
            $("#show").html(marked($("#write").val()));
        });

        $("#show_image").click(function(){
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: '516px',
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: "<img src='"+ $(this).attr('src') +"'/>"
            });
        })


        $("#submit").click(function(){
            var fd = new FormData();
            fd.append("title", $("#title").val());
            fd.append("article_id", $("#article_id").val());
            fd.append("author", $("#author").val());
            fd.append("keyword", $("#keyword").val());
            fd.append("category_id", $("#category_id").val());
            var tag_id = '';
            $('input[name="tag_id"]:checked').each(function(){ 
                tag_id += $(this).val()+','; 
            }); 
            fd.append("tag_id", tag_id);
            fd.append("intro", $("#intro").val());
            var content_type = $("#content_type").val();
            fd.append("content_type", content_type);
            if(content_type == 'markdown'){
                fd.append("content", $("#write").val());
            }else{
                fd.append("content", editor.txt.html());
            }
            fd.append("image", $('#image')[0].files[0]);
            if(title == ''){
                layer.msg('请填写标题！');
                return;
            }
            if(category_id == 0){
                layer.msg('请选择分类！');
                return;
            }
            $.ajax({
                url: "{:url('Cms/article_update_submit')}",
                type: "post",
                processData: false,
                contentType: false,
                data: fd,
                success: function(data){
                    layer.msg(data.msg);
                    if(data.status == 1){
                        setTimeout(function(){
                            window.location.href = "{:url('Cms/article')}";
                        }, 1000);
                    }
                }
            })
        })
    </script>
{/block}