{extend name="base" /}

{block name="content"}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>文章标签</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{:url('Index/index')}">主页</a></li>
                            <li><a href="###">文章管理</a></li>
                            <li class="active">文章标签</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <button id="add" type="button" class="btn btn-primary">添加</button>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>标签名称</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="vo"}
                                <tr id="item{$vo.tag_id}">
                                    <td>{$vo.tag_id}</td>
                                    <td id="tagname{$vo.tag_id}">{$vo.tag_name}</td>
                                    <td>
                                        <button onclick="update({$vo.tag_id})" type="button"
                                            class="btn btn-outline-primary">修改</button>
                                        <button onclick="delete_item({$vo.tag_id})" type="button"
                                            class="btn btn-outline-danger">删除</button>
                                    </td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div>
{/block}

{block name="custom_js"}
<script>
    //添加
    $("#add").click(function () {
        layer.prompt({
            title: '请输入标签名称:',
            formType: 0
        }, function (value, index) {
            if (value == '') {
                layer.msg('请输入标签名称！');
                return;
            }
            layer.close(index);
            $.ajax({
                url: "{:url('Cms/tag_add_submit')}",
                type: "post",
                data: {
                    tag_name: value
                },
                success: function (data) {
                    layer.msg(data.msg);
                    if (data.status == 1) {
                        window.location.href = "{:url('Cms/cms_tag')}";
                    }
                }
            })
        });
    })

    //修改标签
    function update(id) {
        layer.prompt({
            title: '请输入新标签名称:',
            formType: 0
        }, function (value, index) {
            if (value == '') {
                layer.msg('请输入新标签名称！');
                return;
            }
            layer.close(index);
            $.ajax({
                url: "{:url('Cms/tag_update_submit')}",
                type: "post",
                data: {
                    tag_id: id,
                    tag_name: value
                },
                success: function (data) {
                    layer.msg(data.msg);
                    if (data.status == 1) {
                        $("#tagname" + id).text(value);
                    }
                }
            })
        });
    }

    // 删除
    function delete_item(id) {
        $.ajax({
            url: "{:url('Cms/tag_delete_submit')}",
            type: 'post',
            data: {
                id: id
            },
            success: function (data) {
                layer.msg(data.msg);
                if (data.status == 1) {
                    $("#item" + id).remove();
                }
            }
        })
    }

</script>
{/block}