{extend name="base" /}

{block name="content"}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>角色权限</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{:url('Index/index')}">首页</a></li>
                            <li><a href="###">管理员管理</a></li>
                            <li><a href="{:url('Admin/role')}">角色列表</a></li>
                            <li class="active">角色权限</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body card-block">
                        {volist name="module" id="m"}
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">{$m.module_name}</label></div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    {volist name="action" id="a"}
                                    {if condition="$a.module_id == $m.module_id"}
                                    <div class="checkbox">
                                        <label for="checkbox1" class="form-check-label ">
                                            <input type="checkbox" id="checkbox1" name="power" value="{$a.action_url}" class="form-check-input" {if condition="$a.has_power == 1"}checked{/if}>{$a.action_name}
                                        </label>
                                    </div>
                                    {/if}
                                    {/volist}
                                </div>
                            </div>
                        </div>
                        {/volist}
                        <input type="hidden" id="role_id" value="{$role.role_id}"/>
                        <div>
                            <button id="submit" type="button" class="btn btn-lg btn-info btn-block">
                                <i class="fa fa-arrow-up fa-lg"></i>&nbsp;
                                <span id="payment-button-amount">提交</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>
{/block}

{block name="custom_js"}
    <script>
        $("#submit").click(function(){
            var action_ids = '';
            $('input[name="power"]:checked').each(function(){ 
                action_ids += $(this).val()+','; 
            }); 
            var role_id = $("#role_id").val();
            $.ajax({
                url: "{:url('Admin/role_power_set_submit')}",
                type: "post",
                data: {action_ids: action_ids, role_id: role_id},
                success: function(data){
                    layer.msg(data.msg);
                    if(data.status == 1){
                        setTimeout(function(){
                            window.location.href = "{:url('Admin/role')}";
                        }, 1000);
                    }
                }
            })
        })
    </script>
{/block}