{extend name="base" /}

{block name="content"}
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Dashboard</h4>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-stats card-warning">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-users"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">会员</p>
                                        <h4 class="card-title">{$user_count}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-success">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-bar-chart"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category"></p>
                                        <h4 class="card-title"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-danger">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-newspaper-o"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">文章</p>
                                        <h4 class="card-title">{$article_count}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-primary">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-check-circle"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category"></p>
                                        <h4 class="card-title"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {if condition="$system_type == 'windows'"}
            <div class="row row-card-no-pd">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="fw-bold mt-1">系统运行时间</p>
                            <h4><b>{$system.run_time}</b></h4>
                            <a href="###" class="btn btn-primary btn-full text-left mt-3 mb-3">{$system.system_name}</a>
                        </div>
                        <div class="card-footer">
                            <ul class="nav">
                                <li class="nav-item"><a class="btn btn-default btn-link" href="###">{$system.system_version}</li>
                                <li class="nav-item ml-auto"><a class="btn btn-default btn-link" href="#">{$system.system_type}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            {volist name="$system.hdd" id="h"}
                            <div class="progress-card">
                                <div class="d-flex justify-content-between mb-1">
                                    <span class="text-muted">{$h.drive}盘</span>
                                    <span class="text-muted fw-bold">{$h.size}GB</span>
                                </div>
                                <div class="progress mb-2" style="height: 7px;">
                                    <div class="progress-bar bg-{if condition='$h.use <= 60'}success{elseif condition='$h.use > 60 && $h.use <= 90'}primary{else /}warning{/if}" role="progressbar" style="width: {$h.use}%" aria-valuenow="{$h.use}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="{$h.use}%"></div>
                                </div>
                            </div>
                            {/volist}
                            <div class="progress-card">
                                <div class="d-flex justify-content-between mb-1">
                                    <span class="text-muted">物理内存</span>
                                    <span class="text-muted fw-bold">{$system.pm.size}MB</span>
                                </div>
                                <div class="progress mb-2" style="height: 7px;">
                                    <div class="progress-bar bg-{if condition='$system.pm.use <= 60'}success{elseif condition='$system.pm.use > 60 && $system.pm.use <= 90'}primary{else /}warning{/if}" role="progressbar" style="width: {$system.pm.use}%" aria-valuenow="{$system.pm.use}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="{$system.pm.use}%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-3">
                    <div class="card card-stats">
                        <div class="card-body">
                            <p class="fw-bold mt-1">Statistic</p>
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="la la-pie-chart text-warning"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Number</p>
                                        <h4 class="card-title">150GB</h4>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-heart-o text-primary"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Followers</p>
                                        <h4 class="card-title">+45K</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            {/if}
        </div>
    </div>
</div>

{/block}

{block name="custom_js"}
<script>
    var his_arr = [$("#day").text(), $("#hour").text(), $("#minute").text(), $("#second").text()];
    var time_number = (parseInt(his_arr[0]) * 86400) + (parseInt(his_arr[1]) * 3600) + (parseInt(his_arr[2]) * 60) + parseInt(his_arr[3]);
    var time_jian = setInterval(function () {
        time_number++
        var time_his = [
            Math.floor(time_number/86400),
            Math.floor((time_number%86400)/3600),
            Math.floor(((time_number%86400)%3600)/60),
            Math.floor(((time_number%86400)%3600)%60)
        ];
        $("#day").text(time_his[0]);
        $("#hour").text(time_his[1]);
        $("#minute").text(time_his[2]);
        $("#second").text(time_his[3]);
    }, 1000);
</script>
{/block}

