<link rel="stylesheet" href="/static/admin/assets/css/normalize.css">
<link rel="stylesheet" href="/static/admin/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/admin/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/admin/assets/css/themify-icons.css">
<link rel="stylesheet" href="/static/admin/assets/css/pe-icon-7-filled.css">
<link rel="stylesheet" href="/static/admin/assets/css/flag-icon.min.css">
<link rel="stylesheet" href="/static/admin/assets/css/cs-skin-elastic.css">
<link rel="stylesheet" href="/static/admin/assets/css/style.css">
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
<link href="/static/admin/assets/weather/css/weather-icons.css" rel="stylesheet" />
<link href="/static/admin/assets/calendar/fullcalendar.css" rel="stylesheet" />

<link href="/static/admin/assets/css/charts/chartist.min.css" rel="stylesheet">
<link href="/static/admin/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
<style>
    #weatherWidget .currentDesc {
        color: #ffffff !important;
    }

    .traffic-chart {
        min-height: 335px;
    }

    #flotPie1 {
        height: 150px;
    }

    #flotPie1 td {
        padding: 3px;
    }

    #flotPie1 table {
        top: 20px !important;
        right: -10px !important;
    }

    .chart-container {
        display: table;
        min-width: 270px;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #flotLine5 {
        height: 105px;
    }

    #flotBarChart {
        height: 150px;
    }

    #cellPaiChart {
        height: 160px;
    }

    /*分页样式*/  
    .pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}  
    .pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}  
    .pagination .active{background-color: #46A3FF;color: #fff;}  
    .pagination .disabled{color:#aaa;}
</style>