{extend name="base" /}

{block name="content"}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>添加网站设置</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{:url('Index/index')}">首页</a></li>
                            <li><a href="###">系统设置</a></li>
                            <li><a href="###">网站设置管理</a></li>
                            <li><a href="{:url('Settings/settings')}">网站设置列表</a></li>
                            <li class="active">添加网站设置</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body card-block">
                        <div class="form-group">
                            <label for="title" class=" form-control-label">标题</label>
                            <input type="text" id="title" value="{$detail.title}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="sign" class=" form-control-label">标签</label>
                            <input type="text" id="sign" value="{$detail.sign}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="value" class=" form-control-label">值</label>
                            <input type="text" id="value" value="{$detail.value}" class="form-control">
                        </div>
                        <div class="row form-group">
                            <div class="col-8">
                                <div class="form-group">
                                    <label for="sort" class="form-control-label">排序</label>
                                    <input type="number" id="sort" value="{$detail.sort}" class="form-control" min="0" step="1">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="id" name="id" value="{$detail.id}"/>
                        <div>
                            <button id="submit" type="button" class="btn btn-lg btn-info btn-block">
                                <i class="fa fa-arrow-up fa-lg"></i>&nbsp;
                                <span id="payment-button-amount">提交</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>
{/block}

{block name="custom_js"}
    <script>
        $("#submit").click(function(){
            var title = $("#title").val();
            var sign = $("#sign").val();
            var value = $("#value").val();
            var sort = $("#sort").val();
            var id = $("#id").val();
            if(title == ''){
                layer.msg('请填写标题！');
                return;
            }
            $.ajax({
                url: "{:url('settings/settings_update_submit')}",
                type: "post",
                data: {title: title, sign: sign, sort: sort, value: value, id: id},
                success: function(data){
                    layer.msg(data.msg);
                    if(data.status == 1){
                        setTimeout(function(){
                            window.location.href = "{:url('settings/settings')}";
                        }, 1000);
                    }
                }
            })
        })
    </script>
{/block}