{extend name="base" /}

{block name="content"}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>seo设置</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{:url('Index/index')}">首页</a></li>
                            <li><a href="###">系统设置</a></li>
                            <li class="active">seo设置</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body card-block">
                        <div class="form-group">
                            <label for="title" class=" form-control-label">标题</label>
                            <input type="text" id="title" value="{$detail.title}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="keyword" class=" form-control-label">关键字</label>
                            <input type="text" id="keyword" value="{$detail.keyword}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="description" class=" form-control-label">描述</label>
                            <input type="text" id="description" value="{$detail.description}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="copyright" class=" form-control-label">版权</label>
                            <input type="text" id="copyright" value="{$detail.copyright}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="aq" class=" form-control-label">备案号</label>
                            <input type="text" id="aq" value="{$detail.aq}" class="form-control">
                        </div>
                        
                        <div>
                            <button id="submit" type="button" class="btn btn-lg btn-info btn-block">
                                <i class="fa fa-arrow-up fa-lg"></i>&nbsp;
                                <span id="payment-button-amount">提交</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>
{/block}

{block name="custom_js"}
    <script>
        $("#submit").click(function(){
            var title = $("#title").val();
            var keyword = $("#keyword").val();
            var description = $("#description").val();
            var copyright = $("#copyright").val();
            var aq = $("#aq").val();
            if(title == ''){
                layer.msg('请填写标题！');
                return;
            }
            if(keyword == ''){
                layer.msg('请填写关键字！');
                return;
            }
            if(description == ''){
                layer.msg('请填写描述！');
                return;
            }
            if(copyright == ''){
                layer.msg('请填写版权！');
                return;
            }
            if(aq == ''){
                layer.msg('请填写备案号！');
                return;
            }
            $.ajax({
                url: "{:url('Settings/siteinfo_submit')}",
                type: "post",
                data: {
                    title: title, 
                    keyword: keyword, 
                    description: description, 
                    copyright: copyright,
                    aq: aq,
                },
                success: function(data){
                    layer.msg(data.msg);
                    if(data.status == 1){
                        setTimeout(function(){
                            window.location.href = "{:url('Settings/siteinfo')}";
                        }, 1000);
                    }
                }
            })
        })
    </script>
{/block}