{extend name="base" /}

{block name="content"}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>方法列表</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{:url('Index/index')}">主页</a></li>
                            <li><a href="###">模块管理</a></li>
                            <li class="active">方法列表</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <button id="add" type="button" class="btn btn-primary">添加</button>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>id</th>
                                    <th>排序</th>
                                    <th>方法名称</th>
                                    <th>方法路径</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="module" id="m"}
                                <tr>
                                    <td>
                                        <i id="icon{$m.module_id}" class="fa fa-plus-square-o" data-type='show' onclick="action_show({$m.module_id})"></i>
                                        {$m.module_name}
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {volist name="action" id="a"}
                                {if condition="$a.module_id == $m.module_id"}
                                <tr id="item{$a.action_id}" class="module{$m.module_id}" style="display:none;">
                                    <td></td>
                                    <td>{$a.action_id}</td>
                                    <td>{$a.sort}</td>
                                    <td>{$a.action_name}</td>
                                    <td>{$a.action_url}</td>
                                    <td>
                                        <button onclick="update({$a.action_id})" type="button" class="btn btn-outline-primary">修改</button>
                                        <button onclick="delete_item({$a.action_id})" type="button" class="btn btn-outline-danger">删除</button>
                                    </td>
                                </tr>
                                {/if}
                                {/volist}
                                {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div>
{/block}

{block name="custom_js"}
    <script>
        function action_show(module_id){
            var type = $("#icon"+module_id).data('type');
            if(type == 'show'){
                $("#icon"+module_id).attr('class', 'fa fa-minus-square-o');
                $("#icon"+module_id).data('type', 'hide');
                $(".module"+module_id).css('display', '');
            }else{
                $("#icon"+module_id).attr('class', 'fa fa-plus-square-o');
                $("#icon"+module_id).data('type', 'show');
                $(".module"+module_id).css('display', 'none');
            }
        }

        //添加
        $("#add").click(function(){
            window.location.href = "{:url('Module/module_action_add')}";
        })

        //修改
        function update(action_id){
            window.location.href = "/admin/module/module_action_update?action_id=" + action_id;
        }

        // 删除
        function delete_item(action_id){
            $.ajax({
                url: "{:url('Module/module_action_delete_submit')}",
                type: 'post',
                data: {action_id: action_id},
                success: function(data){
                    layer.msg(data.msg);
                    if(data.status == 1){
                        $("#item"+action_id).remove();
                    }
                }
            })
        }
    </script>
{/block}