<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{block name="title"}aner_cms{/block}</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        {block name="css"}
            <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
            <link rel="stylesheet" href="/static/admin/css/ready.min.css">
            <link rel="stylesheet" href="/static/admin/css/demo.css">
        {/block}

        {block name="custom_css"}{/block}
    </head>
    <body>
        <div class="wrapper">
        {block name="header"}
            {include file="public/header"}
        {/block}

        {block name="sidebar"}
            {include file="public/sidebar"}
        {/block}

        <div class="main-panel">
            {block name="content"}

            {/block}

            {block name="footer"}
                {include file="public/footer"}
            {/block}
        </div>
    </div>
    </body>
    {block name="js"}
        <script src="/static/jquery/jquery.3.2.1.min.js"></script>
        <script src="/static/jquery/jquery-ui.min.js"></script>
        <script src="/static/admin/js/popper.min.js"></script>
        <script src="/static/bootstrap/bootstrap.min.js"></script>
        <script src="/static/bootstrap/bootstrap-notify.min.js"></script>
        <script src="/static/bootstrap/bootstrap-toggle.min.js"></script>
        <script src="/static/jquery/jquery.scrollbar.min.js"></script>
        <script src="/static/admin/js/ready.min.js"></script>
        <script src="/static/admin/js/demo.js"></script>
        <script src="/static/layer/layer.js"></script>

        <script>
            /**
             * 在页面内弹出通知提示框
             * @method 引导通知
             * @param string type 类型（primary, info, success, warning, danger）
             * @param string title 标题
             * @param string message 内容
             * @param string placementFrom 出现位置（top, bottom）
             * @param string placementAlign 出现位置（left, right, center）
             */
            function custom_notify(type, title, message, placementFrom = 'top', placementAlign = 'center'){
                var content = {};
                content.message = message;
                content.title = title;
                content.icon = 'la la-bell';

                $.notify(content,{
                    type: type,
                    placement: {
                        from: placementFrom,
                        align: placementAlign
                    },
                    time: 1000,
                });
            }

            //目录高亮
            var current_id = "{$current_id}";
            $("#actl" + current_id).addClass('active');
            var topid = $("#actl" + current_id).data('topid')
            $("#act" + topid).addClass('active');
            $("#span" + topid).attr('class', 'la la-caret-down');
            $("#span" + topid).attr('data-status', 'true');
            $("#catalog" + topid).addClass('show');

            function catalogonoff(id){
                var span_d = $("#span" + id);
                if(span_d.attr('data-status') == "false"){
                    span_d.attr('data-status', "true");
                    span_d.attr('class', 'la la-caret-down');
                }else{
                    span_d.attr('data-status', "false");
                    span_d.attr('class', 'la la-caret-right');
                }
            }
        </script>
    {/block}

    {block name="custom_js"}{/block}
</html>