{extend name="base" /}

{block name="custom_css"}
<link rel="stylesheet" href="/static/dcalendar.picker/dcalendar.picker.css">
{/block}

{block name="content"}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>管理员操作日志</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{:url('Index/index')}">主页</a></li>
                            <li><a href="###">日志管理</a></li>
                            <li class="active">管理员操作日志</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form-inline" role="form" action="" method="POST">
                            <div class="form-group">
                                <label class="sr-only" for="account">管理员账号</label>
                                <input type="text" class="form-control" id="account" name="account" placeholder="请输入管理员账号" value="{$account}">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="ip">ip</label>
                                <input type="text" class="form-control" id="ip" name="ip" placeholder="请输入ip" value="{$ip}">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="start_time">起始时间</label>
                                <input id='mydatepicker1' type="text" class="form-control" name="start_time" placeholder="请选择起始时间" value="">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="end_time">结束时间</label>
                                <input id='mydatepicker2' type="text" class="form-control" name="end_time" placeholder="请选择结束时间" value="">
                            </div>
                            <button type="submit" class="btn btn-default">提交</button>
                        </form>
                        <br />
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>管理员账号</th>
                                    <th>管理员昵称</th>
                                    <th>ip</th>
                                    <th>操作内容</th>
                                    <th>操作时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="vo"}
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td>{$vo.admin.account}({$vo.admin_id})</td>
                                    <td>{$vo.admin.nickname}</td>
                                    <td>{$vo.ip}</td>
                                    <td>{$vo.content}</td>
                                    <td>{$vo.insert_time}</td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div>
{/block}

{block name="custom_js"}
<script type="text/javascript" src="/static/dcalendar.picker/dcalendar.picker.js"></script>
<script type="text/javascript">
    $('#mydatepicker1').dcalendarpicker({
        format:'yyyy-mm-dd'
    }); 
    $('#mydatepicker2').dcalendarpicker({
        format:'yyyy-mm-dd'
    }); 

    setTimeout(function(){
        var start_time = "{$start_time}";
        var end_time = "{$end_time}";
        if(start_time != ''){
            $("#mydatepicker1").val(start_time);
        }
        if(end_time != ''){
            $("#mydatepicker2").val(end_time);
        }
    }, 200);
    
</script>
{/block}