<!doctype html>
<html lang="en">

<head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>aner_cms</title>

    {include file="public/favicon"}

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <!--style.css-->
    <link rel="stylesheet" href="/static/admin/login/style.css">
</head>

<body>
    <!-- signin end -->
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt">
                    <h2><img src="/static/logo/aner_cms_login_logo.png"/></h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-form">
                                <form action="signin.html">
                                    <div class="form-group">
                                        <label for="account">账号</label>
                                        <input type="email" class="form-control" id="account" placeholder="请输入登录账号">
                                    </div>
                                    <!--/.form-group -->
                                    <div class="form-group">
                                        <label for="password">密码</label>
                                        <input type="password" class="form-control" id="password"
                                            placeholder="请输入登录密码">
                                    </div>
                                    <!--/.form-group -->
                                </form>
                                <!--/form -->
                            </div>
                            <!--/.signin-form -->
                        </div>
                        <!--/.col -->
                    </div>
                    <!--/.row -->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-password">
                                <div class="password-circle">
                                    <!--/.single-password-circle-->
                                </div>
                                <!--/.password-circle-->
                            </div>
                            <!--/.signin-password -->
                        </div>
                        <!--/.col -->
                    </div>
                    <!--/.row -->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-footer">
                                <button type="button" id="submit" class="btn signin_btn signin_btn_two" data-toggle="modal" data-target=".signin_modal">
                                    登录
                                </button>
                            </div>
                            <!--/.signin-footer -->
                        </div>
                        <!--/.col -->
                    </div>
                    <!--/.row -->
                </div><!-- .popup-in-txt -->
            </div>
            <!--/.sign-content -->
        </div>
        <!--/.container -->
    </section>
    <!--/.signin -->
    <!-- signin end -->
</body>
<script>
document.getElementById("submit").onclick = function(){
    //获取账号密码
    var account = document.getElementById("account").value;
    var password = document.getElementById("password").value;
    if(account == ''){
        var msg = '<p class="text-danger" style="font-size: 12px; line-height: 0.0; margin-bottom: 0rem;">登录账号不能为空</p>';
        document.getElementsByClassName("password-circle")[0].innerHTML = msg;
        return;
    }
    if(password == ''){
        var msg = '<p class="text-danger" style="font-size: 12px; line-height: 0.0; margin-bottom: 0rem;">登录密码不能为空</p>';
        document.getElementsByClassName("password-circle")[0].innerHTML = msg;
        return;
    }
    var parameter = "account=" + account + "&password=" + password;

    //发送ajax
    var xmlhttp;
	if (window.XMLHttpRequest){
		xmlhttp=new XMLHttpRequest();
	}else{
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function(){
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
            data = JSON.parse(xmlhttp.response);
            if(data.status == 2){
                var msg = '<p class="text-danger" style="font-size: 12px; line-height: 0.0; margin-bottom: 0rem;">' + data.msg + '</p>';
                document.getElementsByClassName("password-circle")[0].innerHTML = msg;
            }else{
                setTimeout(function(){
                    location.href = "/adm";
                }, 500);
            }
		}
	}
	xmlhttp.open("POST","/adm/login/submit",true);
	xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    xmlhttp.send(parameter);
}


</script>

</html>